/* ---------------------------------------------- */
/* 1. VARIABLES */
/* ---------------------------------------------- */
:root {
    --primary-color: #111111;
    --secondary-color: #F9F6F3;
    --black-color: #111111;
    --dark-color: #353535;
    --primary-color-200: #E8F0F1;
    --primary-color-400: #c4e9ed;
    --gray-color: #777F81;
    --light-color: #fdfdfd;

    /* bootstrap color-scheme */
    --bs-dark-rgb: 80, 80, 80;
    --bs-gray-100: #EAE5DD;
    --bs-gray-300: #DCDCDC;
    --bs-body-color-rgb: 53, 53, 53;
    --bs-primary-rgb: 209, 104, 6;
    --bs-secondary-rgb: 249, 246, 243;

    /* Fonts */
    --body-font: "Jost", sans-serif;
    --heading-font: "Bodoni Moda", serif;
}

/* ---------------------------------------------- */
/* 2. GENERAL TYPOGRAPHY */
/* ---------------------------------------------- */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.64;
    letter-spacing: 0.32px;
    color: var(--dark-color);
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

a:hover {
    color: var(--primary-color);
}

/* Background Colors */
.bg-light {
    background-color: var(--light-color) !important;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.bg-gray {
    background-color: var(--bs-gray-100) !important;
}

/* Section Padding */
.padding-small {
    padding-top: 5em;
    padding-bottom: 5em;
}

.padding-medium {
    padding-top: 10em;
    padding-bottom: 10em;
}

.padding-large {
    padding-top: 12em;
    padding-bottom: 12em;
}

@media (max-width: 768px) {
    .padding-side {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .padding-large {
        padding-top: 15em;
    }
}

/* Section Margin */
.margin-small {
    margin-top: 8.125em;
    margin-bottom: 8.125em;
}

.margin-medium {
    margin-top: 10em;
    margin-bottom: 10em;
}

.margin-large {
    margin-top: 12em;
    margin-bottom: 12em;
}

/* Section Title */
h1, h2, h3, h4, h5, h6 {
    color: var(--black-color);
    font-family: var(--heading-font);
    text-transform: uppercase;
    font-weight: 400;
}

.secondary-font {
    font-family: var(--body-font);
    letter-spacing: 0.2rem;
}

/* Buttons */
.btn {
    border-radius: 0;
    text-transform: uppercase;
    transition: all 0.4s ease-in-out;
    letter-spacing: 0.1rem;
}

.btn1 {
    border: none;
    transition: 0.5s ease-in-out;
    font-family: var(--body-font);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
    background: none;
    width: fit-content;
    position: relative;
    padding-bottom: 2px;
    margin: 0;
}

.btn1::after {
    content: "";
    width: 0;
    height: 2px;
    background: rgb(128, 127, 127);
    transition: 0.3s ease-in-out;
    position: absolute;
    left: 0;
    bottom: 0;
}

.btn1:hover::after {
    width: 100%;
}

/* Content Elements */
/* Dropdown */
.dropdown-item {
    color: var(--dark-color);
    text-transform: capitalize;
}

.dropdown-item.active,
.dropdown-item:hover,
.dropdown-item:active {
    color: var(--dark-color);
    background-color: var(--secondary-color);
}

/* Form */
.form-control:focus,
.form-select:focus {
    border-color: var(--dark-color);
    outline: 0;
    box-shadow: none;
}

input,
select,
textarea {
    border-color: var(--dark-color);
    outline: 0;
    box-shadow: none;
}

/* Swiper */
.main-slider-button-next.swiper-button-disabled,
.main-slider-button-prev.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 8px;
}

.testimonial-pagination .swiper-pagination-bullet,
.new-arrival-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: var(--primary-color);
}

.testimonial-pagination .swiper-pagination-bullet-active,
.new-arrival-pagination .swiper-pagination-bullet-active {
    background-color: var(--primary-color);
}

/* Modal Video */
.modal-dialog {
    max-width: 800px;
    margin: auto;
    height: 100vh;
    display: flex;
    align-items: center;
}

.modal-content {
    padding: 0;
    background-color: #f5f3ef;
    border: none;
    border-radius: 0;
}

/* Search Popup */
.search-popup {
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
    transition: opacity 0.3s, visibility 0s 0.3s;
}

.search-popup.is-visible {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    transition: opacity 0.3s, visibility 0s;
}

.search-popup-container {
    background-color: transparent;
    position: relative;
    top: 50%;
    margin: 0 auto;
    padding: 0;
    width: 90%;
    max-width: 800px;
    text-align: center;
    box-shadow: none;
    transform: translateY(-40px);
    transition: transform 0.3s;
}

.search-popup.is-visible .search-popup-container {
    transform: translateY(-50%);
}

.search-popup-form {
    position: relative;
    margin: 0 0 3em 0;
}

.search-popup-form .form-control {
    padding: 0 0 .375em 0;
    font-size: 2em;
}

.search-popup-form #search-popup-submit {
    display: none;
}

.search-popup .search-popup-close {
    display: block;
    position: absolute;
    top: 2em;
    right: 2em;
    margin: -0.5em;
    padding: 0.5em;
    line-height: 0;
}

.search-popup .search-popup-close:hover {
    transform: rotate(90deg);
}

.search-popup .search-popup-close i {
    display: block;
    position: relative;
    width: 1em;
    height: 1em;
    fill: rgba(0, 0, 0, 0.5);
}

.search-popup .search-popup-close:hover i {
    fill: rgba(0, 0, 0, 1);
}

.search-popup .cat-list-title {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 0.6em;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.search-popup .cat-list {
    margin: 0;
    list-style-type: none;
}

.search-popup .cat-list-item {
    display: inline-block;
    margin-bottom: 0;
    letter-spacing: 0.015em;
    font-size: 2em;
}

.search-popup .cat-list-item a {
    position: relative;
}

.search-popup .cat-list-item a::after {
    background: none;
    content: "";
    height: 1px;
    border-bottom: 1px solid #ff9697;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    transform: translateY(-5px);
}

.search-popup .cat-list-item a:hover::after {
    height: 1px;
    opacity: 1;
    transform: translateY(2px);
}

.search-popup .cat-list-item::after {
    content: "/";
    padding: 0 5px;
    line-height: 1;
    color: rgba(0, 0, 0, 0.5);
    vertical-align: text-top;
}

.search-popup .cat-list-item:last-child::after {
    display: none;
}

@media only screen and (max-width: 991px) {
    .search-popup .cat-list-item,
    .search-popup-form .form-control {
        font-size: 1.425em;
    }
}

@media only screen and (max-width: 767px) {
    .search-popup .search-popup-close {
        top: 1em;
        right: 1em;
    }
}

@media only screen and (max-width: 575px) {
    .search-popup .cat-list-item,
    .search-popup-form .form-control {
        font-size: 1.125em;
    }
}

/* Header Section Style */
.navbar-toggler {
    color: white;
}

.navbar-toggler-icon {
    background-image: url(images/images.png);
}

.navbar-nav {
    --bs-nav-link-hover-color: rgb(255, 255, 255);
}

.navbar-brand {
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 38px;
    color: white;
}

.navbar .container-fluid {
    align-items: flex-start;
}

.nav-link {
    font-family: 'Jost', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    position: relative;
    width: fit-content;
    letter-spacing: 10%;
    padding-bottom: 5px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    list-style: none;
    line-height: 10px;
}

.nav-link:hover {
    color: white;
}

.nav-link::before {
    transition: 300ms;
    height: 1px;
    content: "";
    position: absolute;
    background-color: #fff7f7;
}

.nav-link-ltr::before {
    width: 0%;
    bottom: 0;
}

.nav-link-ltr:hover::before {
    width: 90%;
    background-color: white;
}

/* New-Arrival Section Style */
.product-item .cart-concern {
    background: var(--light-color);
    width: 70%;
    text-align: center;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 120px;
    z-index: 9;
    transition: 0.5s ease-out;
    padding: 10px 30px;
    opacity: 0;
}

.product-item:hover .cart-concern {
    bottom: 100px;
    opacity: 1;
}

/* Video Section Style */
.play,
svg.play-icon {
    animation: play 1.5s alternate infinite ease-in;
}

@keyframes play {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}
